@model IEnumerable<RoofSafety.Models.Inspection>
@{
    ViewData["Title"] = "Inspections for Buiding " + @ViewBag.BuildingDesc;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<table>
    <tr>
        <td>

<h2>Inspections for @ViewBag.BuildingDesc</h2>
        </td>

@if (ViewBag.BuildingID != 0)
{
            <td><p>
        <a asp-action="Create" asp-route-id="@ViewBag.BuildingID">Add New Inspections</a>
    </p>
            </td>

}
        <td>

<div>
    <button id="download-button">Download as PDF</button>
</div>

        </td>
    </tr>
</table>

<table class="table" id="invoice">
   
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InspectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Areas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building.BuildingName)
            </th>
            <th>
               Inspector
            </th>

            <th>
                Status
            </th>
            <th>
                Item Count
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-area="" asp-route-id="@item.id" asp-action="Edit">@item.InspectionDate.ToString("dd-MMM-yyyy")</a>
             
                </td>
                <td>
                   

                    @Html.DisplayFor(modelItem => item.Areas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building.BuildingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inspector.Given) @Html.DisplayFor(modelItem => item.Inspector.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="EquipForInspections" asp-controller="InspectionEquipments" asp-route-id="@item.id">@item.Inspector2ID</a>
                </td>
                <td>
                    <a asp-action="EquipForInspectionsAll" asp-route-hpw="p" asp-controller="InspectionEquipments" asp-route-id="@item.id">pdf</a>
                    <a asp-action="EquipForInspectionsAll" asp-route-hpw="h" asp-controller="InspectionEquipments" asp-route-id="@item.id">html</a>
                    <a asp-action="EquipForInspectionsAll" asp-route-hpw="w" asp-controller="InspectionEquipments" asp-route-id="@item.id">word</a>
                    <a asp-area="" asp-page="/EquipmentLog" asp-route-InspectionID="@item.id">Log</a>
                </td>
              
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id"><img src="~/Image/Edit.png" /></a><br/>
                    </td>
                    <td>
                    <a asp-action="Delete" asp-route-id="@item.id"><img src="~/Image/delete.png" /></a>
                </td>
            </tr>
        }
        <tr>

            <td>

                <a asp-action="BuildingsForClient" asp-controller="Buildings" asp-route-id="@ViewBag.ClientID">Back to Buildings</a>
            </td>

        </tr>

    </tbody>
</table>

<script>const button = document.getElementById('download-button');

    function generatePDFold() {
        // Choose the element that your content will be rendered to.
        const element = document.getElementById('invoice');
        // Choose the element and save the PDF for your user.
        html2pdf().from(element).save();
    }
    function generatePDF() {
        // Choose the element that your invoice is rendered in.
        const element = document.getElementById('invoice');
        // Choose the element and save the PDF for your user.
        html2pdf()
            .set({ html2canvas: { scale: 4 } })
            .from(element)
            .save();
    }
    button.addEventListener('click', generatePDF);</script>
