@model IEnumerable<RoofSafety.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Given)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspector)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Given)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspector)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id"><img src="~/Image/Edit.png" /></a> |
                <a asp-action="Delete" asp-route-id="@item.id"><img src="~/Image/delete.png" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
