@model IEnumerable<RoofSafety.Models.Client>

@{
    ViewData["Title"] = "Clients";

}








    <table style="background-color:white;width:50%" >
        <tr>
            <td>
                <h3>Clients</h3>
            </td>
            <td>
                <a asp-action="Create">Add New Client</a>
            </td>
            <td>
                <input type="button" id="btnExport" value="Export" />
            </td>
        </tr>
    </table>

        <table class="table" id="tblCustomers">
            <thead>
               
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </th>
                    <th>
                        Building / Equip Log
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactName)
                        </td>
                @if (   item.StartedDate==null)
                {
                    <td>

                    </td>
                }
                else
                {
                        <td>
                            @item.StartedDate.Value.ToShortDateString()
                        </td>
                }
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                    <a href="/EquipmentLog?ClientID=@item.id" target="other">Buiding / Equip Log</a>
                        </td>
                        <td>
                            <a asp-action="BuildingsForClient" asp-controller="Buildings" asp-route-id="@item.id">Buildings</a>
                        </td>
                        <td style="display:flex">

                            <a asp-action="Edit" asp-route-id="@item.id"><img src="~/Image/Edit.png" /></a>

                            <a asp-action="Delete" asp-route-id="@item.id"><img src="~/Image/delete.png" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @* <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                background-color: #111;
                color: white;
            }

            tr:nth-child(odd) {
                background-color: #dddddd;
            }
        </style> *@
   

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>


    <script type="text/javascript">$("body").on("click", "#btnExport", function () {
            html2canvas($('#tblCustomers')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("customer-details.pdf");
                }
            });
        });</script>

