@model RoofSafety.Models.EquipTypeTest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EquipTypeTest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Test)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Test)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Severity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Severity)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HazardIfNonCompliant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HazardIfNonCompliant)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
