@model RoofSafety.Models.InspEquip

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group" hidden="hidden">
                <label asp-for="InspectionID" class="control-label"></label>
                <input asp-for="InspectionID" class="form-control" />
                <span asp-validation-for="InspectionID" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="Inspection" class="control-label"></label>
                <input asp-for="Inspection" class="form-control" />
            </div>
  
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Installer" class="control-label"></label>
                <input asp-for="Installer" class="form-control" />
                <span asp-validation-for="Installer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredControls" class="control-label"></label>
                <input asp-for="RequiredControls" class="form-control" />
                <span asp-validation-for="RequiredControls" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNo" class="control-label"></label>
                <input asp-for="SerialNo" class="form-control" />
                <span asp-validation-for="SerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SNSuffix" class="control-label"></label>
                <input asp-for="SNSuffix" class="form-control" />
                <span asp-validation-for="SNSuffix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipTypeID" class="control-label"></label>
                <select asp-for="EquipTypeID" class="form-control" asp-items="@(new SelectList(ViewBag.EquipmentTypeID, "Value", "Text"))"></select>
            </div>
            <div>
                <a asp-action="Index" asp-controller="Home" asp-route-id="@Model.id">Add Photo</a>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Photo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Photos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@item.photoname" width="@RoofSafety.Controllers.HomeController.WidthImage" />
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.id" asp-route-ieid="@Model.id"><img src="~/Image/delete.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="EquipForInspections" asp-route-id="@Model.InspectionID">Back to Inspection Report</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
