@page
@model RoofSafety.Pages.EquipmentLogModel
@{
    ViewData["Title"] = "Equipment Log";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RoofSafety.styles.css" asp-append-version="true" />
<style>
    tr:nth-child(even), tr:nth-child(even) {
        background-color: lightgray;
    }
</style>

    <div class="text-left" style="display:flex;justify-content: space-around">
        <img src="~/Image/rsslogo.png" />
    <h4 class="display-6">Equipment Log</h4>
    <a href="./Inspections/Index">Back</a>
        <p style="color:red">@Model.Error</p>
       
       
        <button type="submit" value="Submit" class="btn btn-primary">Export Excel</button>
    </div>
    <H2>
        @Model.Title
    </H2>
    <form method="post">

        @Html.AntiForgeryToken()
        <input type="hidden" data="ID" value="ID" />
        <input type="hidden" data="CliID" value="CliID" />
        
   
    </form>
    @if (Model.Equipment != null)
    {
        <table border="1" class="table">

            <thead>
                <tr>
                    <th>Building</th>
                 
                    <th>Date</th>
                    <th>EquipmentType_Desc</th>
                    <th>Manufacturer</th>
                    <th>Installer</th>
                    <th>Withdrawal Date</th>
                    <th>SerialNo</th>
                    <th>Status</th>
                    <th>Due</th>
                    <th>Qty</th>

                </tr>
            </thead>
            @foreach (var prod in Model.Equipment)
            {


                <tr>

                    <td>
                        @prod.BuildingName
                    </td>
                    <td>@prod.InspectionDate</td>
                 
                    <td>@prod.EquipmentType_Desc</td>
                     <td>@prod.Manufacturer</td>
                   
                    <td>@prod.Installer</td>
                    <td>@prod.WithdrawalDate</td>
                    <td>@prod.SerialNo</td>
                    <td>@prod.Status</td>
                    <td>@prod.InspectionDue</td>
                    <td>@prod.Qty</td>
                </tr>

            } 

        </table>
    }

