@page
@model RoofSafety.Pages.EquipmentLogModel
@{
    ViewData["Title"] = "Equipment Log";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RoofSafety.styles.css" asp-append-version="true" />
<style>
    tr:nth-child(even), tr:nth-child(even) {
        background-color: lightgray;
    }
</style>
<div class="text-left">
    <h4 class="display-6">Equipment Log</h4>
    <a href="./Inspections/Index">Back</a>
    <form method="post">

        <p style="color:red">@Model.Error</p>
        <input type="hidden" data="ID" value="ID" />
        <H2>
          @Model.Title
        </H2>   
        @Html.AntiForgeryToken()
        <button type="submit" value="Submit" class="btn btn-primary">Export Excel</button>
        <img src="~/Image/rsslogo.png" />

    </form>
    @if (Model.Equipment != null)
    {
        <table border="1" class="table">

            <thead>
                <tr>

                    <th>#</th>
                   
                    <th>EquipmentType_Desc</th>
                    <th>Manufacturer</th>
                    <th>Withdrawal Date</th>
                    <th>SerialNo</th>

                    <th>Status</th>
                    <th>Inspection Date</th>
                    <th>Due</th>
                </tr>
            </thead>
            @foreach (var prod in Model.Equipment)
            {


                <tr>
                    <td>@prod.Number</td>
                 
                    <td>@prod.EquipmentType_Desc</td>
                     <td>@prod.Manufacturer</td>
                    <td>@prod.WithdrawalDate</td>
                    <td>@prod.SerialNo</td>
                    <td>@prod.Status</td>
                    <td>@prod.InspectionDate</td>
                    <td>@prod.InspectionDue</td> 
                </tr>

            } 

        </table>
    }

